{% extends "base.html" %}
{% block content %}

 <body id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <div class="app-cam">
                                <form action="/login" method="post">
                                    <div class="form-group">
                                        
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <ul class="new">
                            <h4 style="color: red">{{error}}</h4>
                            <div class="clearfix"></div>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <div class="app-cam">
                                <div class="form-group">
                                    <div class="submit"><a href="{{downloadurl}}" download="{{downloadname}}" class="btn btn-lg btn-success btn-block" >Download</a></div>
                                </div>
                            </div>
                        </fieldset>
                        <ul class="new">
                            <h4 style="color: red">{{error}}</h4>
                            <div class="clearfix"></div>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copy_layout login">
        <p style="">Copyright © 2018 Modern. All Rights Reserved | Design by <font color="#4876FF">NULL</font></p>
    </div>
</body!>

<!-- jQuery -->
<script src="{{static_url('SBMode/vendor/jquery/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{static_url('SBMode/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{static_url('SBMode/vendor/metisMenu/metisMenu.min.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{static_url('SBMode/dist/js/sb-admin-2.js')}}"></script>
{% end %}

  